*{
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
}

#button :hover{
    color: rgb(39, 0, 78);
} 

footer {
  margin-top: auto;           
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
